HOME=/var/lib/werkt
PGPASSFILE=/etc/werkt/pgpass

WERKT_DATABASE_URL=postgres://werkt@127.0.0.1:5432/werkt?sslmode=disable
WERKT_DATA_DIR=/var/lib/werkt/data
WERKT_LISTEN_ADDR=127.0.0.1:8080
WERKT_MANAGEMENT_TOKEN=REPLACE_WITH_A_LONG_RANDOM_TOKEN
WERKT_SECRET_KEY=REPLACE_WITH_A_BASE64_ENCODED_32_BYTE_KEY
WERKT_STAGING_CANARY_AUTOMATION=REPLACE_WITH_A_HARMLESS_PRIVATE_CANARY

WERKT_EXECUTOR=husker
WERKT_HUSKER_URL=http://127.0.0.1:17777
WERKT_HUSKER_TOKEN=REPLACE_WITH_THE_HUSKER_API_TOKEN
WERKT_HUSKER_VCPUS=1
WERKT_HUSKER_MEMORY_MIB=256
WERKT_HUSKER_BUILD_NETWORK=nat

WERKT_SHUTDOWN_PERIOD=20s
WERKT_DEPLOY_TIMEOUT=30m
WERKT_DEPLOYMENT_POLL=500ms
WERKT_MAX_PACKAGE_BYTES=67108864
WERKT_MAX_EXPANDED_PACKAGE_BYTES=268435456
WERKT_MAX_PACKAGE_ENTRIES=10000
